div.wrapper.second-wrapper-class
    - const upDoggy = dog.toUpperCase();
    p.hello HEY NOW #{upDoggy}!
    span#yo Yo!
    br
    img.dog(src="dog.jpg" alt=`Dog ${dog}`)

h2
    emptyDiv
    | Wtf
    em whoaaaaa brah