mixin storeForm(store = {})
    form(action="/add" method="POST" enctype="multipart/form-data" class="card")
        label(for="name") Name
        input(type="text" name="name")
        label(for="description") Description
        br
        br
        input(type="text" name="description")
        - const choices = ['Vegan', 'Vegetarian', 'Gluten Free', 'Locally Sourced']
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags")
                    label(for=choice)= choice
        input(type="submit" value="Save" class="button")
